<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
<div id="user-chat-box">
    <ul id="chat-messages-list">
        <%for(chat of chats){%> <%if(chat.user.id !== locals.user.id){%>
        <li class="other-message">
            <span>
                <%= chat.content%>
                <sub><%= chat.user.name%></sub>
            </span>
        </li>
        <%}else{%>
        <li class="self-message">
            <span>
                <%= chat.content%>
                <sub><%= chat.user.name%></sub>
            </span>
        </li>
        <%}%> <%}%>
    </ul>
    <div id="chat-message-input-container">
        <form id="chat-form">
            <div class="form-group">
                <input
                    name="chat_content"
                    id="chat-message-input"
                    placeholder="Type message here"
                    class="form-control"
                />
            </div>
            <button id="send-message" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
<% } %>
