<header>
    <ul id="auth-links" class="nav nav-tabs justify-content-end row no-gutters">
        <li class="nav-item col-10">
            <h1 id="site-title"><a href="/" id="home-link">Sanyukt</a></h1>
        </li>
        <%if(locals.user){%>
        <li class="nav-item col-1">
            <a href="/users/profile/<%= user.id%>" class="nav-link"
                ><%= user.name%></a
            >
        </li>
        <li class="nav-item col-1">
            <a href="/users/signout" class="nav-link">Sign out</a>
        </li>
        <%}else{%>
        <li class="nav-item col-1">
            <a href="/users/signin" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item col-1">
            <a href="/users/signup" class="nav-link">Sign up</a>
        </li>

        <%}%>
    </ul>
</header>
