<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title%></h1>
    <p>Swagat Hai!</p>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
    </section>

    <a href="/users/profile"> open your profile</a>
</body>
</html>