
   <h1><%= title%></h1>
    <section id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>        <%#show form only user logged in%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
        <div id="post-list-box">
            <%-include('_posts')-%>
        </div>
    </section>
        <h4>Friends</h4>
        <%for (u of all_users){%>
            <p>
                <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
            </p>
        <%}%>
    <section>

    </section>

    <a href="/users/profile"> open your profile</a>
