<!DOCTYPE html>
<head>
    <title>
        <%= title%>
    </title>
    <link rel=stylesheet type="text/css" href="/css/layout.css"/>
</head>
<body>
    <%- include('_header');%>

    <%- body %>

    <%- include('_footer');%>
</body>
</html>
