<link rel="stylesheet" type="text/css" href="/css/signin.css" />
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-5"></div>
    <div class="col-xl-6 col-lg-6 col-md-7">
        <form action="/users/create-session" method="POST" id="signin-form">
            <div class="form-group form-elements">
                <label for="user-id">Email</label>
                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    id="user-id"
                    class="form-control"
                    required
                />
            </div>
            <div class="form-group form-elements">
                <label for="user-password">Password</label>
                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    id="user-password"
                    class="form-control"
                    required
                />
            </div>
            <div class="form-group form-check">
                <input
                    type="checkbox"
                    onclick="showPassword()"
                    id="inputPassword"
                    class="form-check-input"
                />
                <label for="inputPassword" class="form-check-label"
                    >Show Password</label
                >
            </div>
            <button type="submit" id="signup-button" class="btn btn-primary">
                Signin
            </button>
        </form>

        <p class="social-auth-links">
            <strong>Google Sign Up:</strong>
            <a href="/users/auth/google">
                <img src="/images/google-icon.svg" height="24px" width="24px" />
            </a>
            <br />
            <strong>Github Sign Up:</strong>
            <a href="/users/auth/github">
                <img src="/images/github-1.svg" height="24px" width="24px" />
            </a>
        </p>
    </div>
</div>
<script>
    function showPassword() {
        let x = document.getElementById('user-password')
        if (x.type === 'password') {
            x.type = 'text'
        } else {
            x.type = 'password'
        }
    }
</script>
