<form action="/users/create-session" method = "POST" id="signin-form">
    <input type="email" name="email" placeholder="Enter your email" id="user-id" required/>
    <input type="password" name="password" placeholder="Enter your password" id="user-password" required/>
    <button type="submit" id="signup-button">Signin</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
    <a href="/users/auth/github">Github Sign In/Sign Up</a>
</p>