<form action="/users/signin" method = "POST" id="signin-form">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter your email" id="user-id" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" id="user-password"/>
</form>