<form action="/users/create-session" method = "POST" id="signin-form">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter your email" id="user-id" required/>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" id="user-password" required/>
    <button type="submit" id="signup-button">Signin</button>
</form>