.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

#auth-links {
    border-bottom: 0px;
}

.nav-link,
#home-link {
    color: black;
    font-family: 'Red Rose', cursive;
}

.friend-list-avatar {
    height: 34px;
    width: 34px;
    border-radius: 17px;
}
