body {
  background: url("https://img.techpowerup.org/200817/timon-studler-bik2anmmnz4-unsplash649.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none; }
